<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_HOME" value="${cms_root}" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/cms.log</file> 
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/cms-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date %-5level %logger{80} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	
	<!-- -->
	<root level="debug">
		<appender-ref ref="stdout" />
	</root>
	
	<logger name="com.bluemobi" level="debug" />
	<logger name="org.springframework" level="debug" />
	<logger name="org.springframework.web" level="debug" />
	<logger name="org.apache" level="debug" />
	<logger name="com.github.miemiedev" level="debug" />
	<logger name="org.mybatis.spring" level="debug" />
</configuration>