.pagination {
            font-size: 80%;
               margin-top: 20px;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, .pagination span {
   display: block;
    float: left;
    font-size: 10px;
    line-height: 200%;
    margin-bottom: 5px;
    margin-right: 5px;
    min-width: 1em;
    padding: 0.2em 0.4em;
    text-align: center;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
