<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.pro.pojo.Grouptype">

	<resultMap id="grouptypeResultMap" type="Grouptype">
		<id property="id" column="id" />
		<result property="name" column="name" />
	</resultMap>
	<resultMap id="pageResultMap" type="java.util.HashMap"
		extends="grouptypeResultMap"></resultMap>
	<resultMap id="findResultMap" type="java.util.HashMap"
		extends="grouptypeResultMap"></resultMap>

	<!-- 新增活动类型 -->
	<insert id="insert" parameterType="Grouptype">
		insert into grouptype (
		id,
		name
		)values (
		#{id},
		#{name}
		)
	</insert>

	<!-- 更新活动类型 -->
	<update id="update" parameterType="map">
		update grouptype set
		name=#{name}
		where
		id=#{id}
	</update>

	<!-- 删除活动类型 -->
	<delete id="delete" parameterType="map">
		delete from
		grouptype
		where
		id=#{id}
	</delete>

	<!-- 根据条件获取指定活动类型 -->
	<select id="get" parameterType="map" resultMap="grouptypeResultMap">
		select
		id,
		name
		from grouptype
		<where>
			1 =1
			<if test="id != null and id != ''">
				and id=#{id}
			</if>
			<if test="name != null and name != ''">
				and name=#{name}
			</if>
		</where>
	</select>

	<!-- 根据ID获取活动类型 -->
	<select id="findOne" parameterType="map" resultMap="findResultMap">
		select
		id,
		name
		from grouptype
		where
		id=#{id}
	</select>

	<!-- 获取活动类型列表 -->
	<select id="find" parameterType="map" resultMap="findResultMap">
		select
		id,
		name
		from grouptype
		<where>
			1 =1
			<if test="id != null and id != ''">
				and id=#{id}
			</if>
			<if test="name != null and name != ''">
				and name=#{name}
			</if>
		</where>
	</select>

	<!-- 获取活动类型列表（分页） -->
	<select id="page" parameterType="map" resultMap="pageResultMap">
		select
		id,
		name
		from grouptype
		<where>
			1 =1
			<if test="id != null and id != ''">
				and id=#{id}
			</if>
			<if test="name != null and name != ''">
				and name=#{name}
			</if>
		</where>
	</select>
</mapper> 